<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="/css/styles.css">
    
    </head>
    <body>
        {{> header }}
        <h1>My name is....</h1>
        <h1 id="name-area"></h1>
        <img src="/images/robot.png">
        <form>
            <input>
            <button>Submit</button>
        </form>
        <script type='text/javascript' src='/js/index.js'></script>
    </body>
</html>